@page "/"
@using System.Text.Json
@using BlazorPortfolio.Models;
@using System.Globalization
@inject NavigationManager NavigationManager
<PageTitle>Jordy Schoolmeesters — Computer Scientist</PageTitle>

<div class="w-full relative">
   @*
   <div class="relative w-[100vw] max-w-[500px] h-[100vw] max-h-[500px] mb-8">
      <canvas id="renderCanvas" class="w-full h-full"></canvas>
      <img src="media/tribal.png" class="trib mix-blend-color-burn absolute bottom-0 left-0 w-[75%] z-10 px-4 py-8">
   </div>
   *@

   <div class="m-3 border rounded border-white relative block bg-black">
      <div class="p-3">
         <h1 class="text-4xl tracking-tighter uppercase p-0 m-0 leading-none">Jordy</h1>
         <h1 class="text-4xl tracking-tighter uppercase p-0 m-0 leading-none">Schoolmeesters</h1>
         <h2 class="text-xs uppercase p-0 m-0 mt-3">Venlo, Netherlands</h2>
         <h2 class="text-xs uppercase p-0 m-0 mt-3">Computing Science student<br>DSP engineer in progress</h2>
      </div>
      <div id="navbar-trigger" class="w-full p-3 h-[3.75rem] overflow-hidden mt-4 border-t border-white">
         <div class="wrapper">
            <div class="marquee">
               <p class="align-middle tracking-normal text-4xl h-[3rem] leading-none uppercase">✦Welcome to my page</p>
               <p class="align-middle tracking-normal text-4xl h-[3rem] leading-none uppercase">✦Welcome to my page</p>
            </div>
         </div>
      </div>
   </div>

<div class="p-3 pb-0">
   <p class="text-2xl tracking-[-0.035em] leading-none">Computing Science student, C# developer and music producer currently currently specializing in the field of DSP.</p><br>
   <p class="text-2xl tracking-[-0.035em] leading-none">Here, I'll be sharing my progress, insights, tutorials and tips on all things DSP, coding and music production.</p><br>
   <p class="text-2xl tracking-[-0.035em] leading-none">Currently working at Archive-IT, based in Reuver, the Netherlands.</p>

   <h2 class="text-sm p-0 m-0 mt-12 mb-2">Current goals</h2>
   <ul>
      <li><a class="text-2xl tracking-[-0.035em] leading-none" href="https://ocw.mit.edu/courses/res-6-007-signals-and-systems-spring-2011/">Signals and Systems course</a></li>
      <li><a class="text-2xl tracking-[-0.035em] leading-none" href="https://ocw.mit.edu/courses/res-6-008-digital-signal-processing-spring-2011/">Digital Signal Processing course</a></li>
      <li><a class="text-2xl tracking-[-0.035em] leading-none" href="https://www.ru.nl/courseguides/science/bachelor/bachelor-computing-science/">Computing Science bachelor</a></li>
   </ul>

   <img class="w-full mt-12 rounded" src="https://i.seadn.io/gcs/files/396a124e569b6ee79d34a010035f2da0.png?auto=format&dpr=1&w=1000">

   <BlazorPortfolio.Components.Links />
</div>



   @*
   <div id="navbar-trigger" class="flex my-4 px-4 w-full">
      <p class="text-sm flex-1 w-2/3 text-[hsla(26,28%,95%,.9)]">
         Hey! I'm Jordy - a computing science student, C# developer and producer interested in the field of DSP.
      </p>
      <ul class="flex-none w-[8.75rem] text-sm text-right">
         <li class="text-[hsla(26,28%,95%,.9)]"><a href="https://github.com/jschoolmeesters">[GitHub]<i class="iconoir-open-new-window text-xs translate-y-[-0.375rem] text-[hsla(26,28%,95%,.5)]"></i></a></li>
         <li class="text-[hsla(26,28%,95%,.9)]"><a href="https://www.linkedin.com/in/jordyschoolmeesters">[LinkedIn]<i class="iconoir-open-new-window text-xs translate-y-[-0.375rem] text-[hsla(26,28%,95%,.5)]"></i></a></li>
         <li class="text-[hsla(26,28%,95%,.9)]"><a href="mailto:someone@example.com">[Email]<i class="iconoir-open-new-window text-xs translate-y-[-0.375rem] text-[hsla(26,28%,95%,.5)]"></i></a></li>
      </ul>
   </div>
   *@
</div>

<div class="w-full px-3">
   <h2 class="text-sm p-0 m-0 mt-12 mb-2">Latest posts</h2>
   
   @foreach (var item in FilteredPosts) {
      var post = item.post;
      var index = item.i;

      <div @onclick="@(() => NavigateToPost(post))" class="cursor-pointer my-3 border rounded border-white relative block bg-black">
         <div class="p-4">
            <div class="flex flex-row justify-between">
               <h2 class="text-xs uppercase p-0 m-0 text-start">@String.Join(", ", post.Tags.Split(',').Order())</h2>
               <h2 class="text-xs uppercase p-0 m-0 text-end">@post.DateAsUriString</h2>
            </div>
            <h1 class="text-3xl tracking-tighter uppercase p-0 m-0 mt-3 leading-none">@post.Title</h1>
            <p class="text-lg tracking-[-0.035em] leading-none mt-6">@post.Description</p>
         </div>
         <div class="w-full p-3 h-[3.75rem] overflow-hidden border-t border-white">
            <p class="align-middle tracking-normal text-4xl h-[3rem] leading-none uppercase">Read✦</p>
         </div>
      </div>
   }

</div>

@code {
   [Inject]
   private HttpClient HttpClient { get; set; }
   private List<Models.Post> Posts { get; set; } = new List<Models.Post>();
   private string SearchValue { get; set; } = String.Empty;
   private List<(Models.Post post, int i)> FilteredPosts
   {
      get
      {
         return Posts.Where(p => string.IsNullOrEmpty(SearchValue) ? true : p.Title.ToLower().Contains(SearchValue.ToLower()))
                                 .OrderBy(p => p.DateAsDateTime)
                                 .Take(3)
                                 .Select((post, i) => ( post, i ))
                                 .ToList();
      }
   }
   protected override async Task OnInitializedAsync()
   {
      var jsonContent = await HttpClient.GetStringAsync("posts/posts.json");
      var posts = JsonSerializer.Deserialize<List<Models.Post>>(jsonContent);
      if (posts != null)
         Posts = posts;
   }

   private void NavigateToPost(Models.Post post)
   {
      var baseUri = NavigationManager.BaseUri;
      NavigationManager.NavigateTo(Path.Combine(baseUri, "blog", "post", post.DateAsUriString, post.Id.Substring(post.Id.LastIndexOf('/') + 1)));
   }

   private void HandleInputChange(ChangeEventArgs e)
   {
      SearchValue = e.Value.ToString();
   }
}