@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@using Components
@using System.Text.Json
@inject IJSRuntime JS

<main>
    <div class="wrapper w-full max-w-[500px] mx-auto">
        @*
        <div class="z-[500] fixed bottom-0 w-full max-w-[500px]">
            <div id="navbar" class="navbar-show transition-transform -translate-y-full relative z-[510] flex items-center text-white bg-black py-2 px-6">
                <span @onclick="@(async () => NavigateToPage(""))" class="fk-grotesk-neue cursor-pointer text-4xl uppercase">✦</span>
                <span class="grow"></span>
                <button class="text-sm fk-grotesk-neue" @onclick="@(async () => await OnMenuClick())">@(ShowMenu ? "CLOSE" : "MENU")</button>
                *@@*<button class="w-[1.8rem] h-[1.8rem]" @onclick="@(() => EyeSaver = !EyeSaver)"><i class="iconoir-eye text-[1.8rem] w-[1.8rem] h-[1.8rem] text-white overflow-hidden leading-0"></i></button>*@
                @*<button class="w-[1.8rem] h-[1.8rem] @(ShowMenu ? "bg-[hsla(26,28%,95%,.5)]" : "bg-[#f6f2ef]") " @onclick="@(() => ShowMenu = !ShowMenu)"><i class="iconoir-arrow-up-right text-[1.8rem] w-[1.8rem] h-[1.8rem] text-black overflow-hidden leading-0"></i></button>*@
            @*</div>
            <div id="progress-container" class="@(!ShowMenu && NavigationManager.Uri.Contains("blog/post") ? "flex" : "hidden") bg-black relative pt-0 p-2 w-full gap-x-1"></div>
        </div>*@

        <div class="z-[500] fixed top-0 w-full max-w-[500px]">
            <div id="navbar" class="navbar-show transition-transform -translate-y-full relative z-[510] flex items-center text-white py-2 px-3">
                <span @onclick="@(async () => NavigateToPage(""))" class="align-middle new-edge-666 cursor-pointer text-sm px-4 pt-[0.2rem] pb-[0.05rem] rounded-full text-black bg-[#edeeee]">Jordy Schoolmeesters</span>
                <span class="grow"></span>
                <button class="text-sm pl-3 pr-1.5 py-0.5 rounded-full text-black bg-[#edeeee]" @onclick="@(async () => await OnMenuClick())">
                    <span class="align-middle new-edge-666 mt-[0.05rem]">@(ShowMenu ? "Close" : "Menu")</span>
                    <span class="align-middle w-[1rem] h-[1rem] inline-block rounded-full bg-[#cbcccc]"></span>
                </button>
            </div>
            <div id="progress-container" class="@(!ShowMenu && NavigationManager.Uri.Contains("blog/post") ? "flex" : "hidden") bg-black relative pt-0 p-2 w-full gap-x-1"></div>
        </div>

        <aside class="opacity-fade text-[hsla(26,28%,95%,.7)] bg-black wrapper max-w-[500px] mx-auto fixed inset-0 overflow-hidden z-[499] @(ShowMenu ? "" : "hidden")" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
            <nav class="flex absolute inset-0" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                <div class="flex flex-col justify-end w-full">
                    <div></div>
                    <ul class="p-4 flex flex-col items-start">
                        <li class="overflow-hidden">
                            <NavLink href="/" @onclick="@(async () => await OnMenuClick(false))" Match="NavLinkMatch.All" class="nav-link flex text-6xl text-60 uppercase font-normal leading-[1.05]" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                <span class="text-slideup animation-delay-0">Index</span>
                            </NavLink>
                        </li>
                        <li class="overflow-hidden">
                            <NavLink href="/blog" @onclick="@(async () => await OnMenuClick(false))" class="nav-link flex text-6xl text-60 uppercase font-normal leading-[1.05]" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                                <span class="text-slideup animation-delay-1">Blog<span class="text-3xl align-top">[@PostCount]</span></span>
                            </NavLink>
                        </li>
                        <li class="overflow-hidden">
                        <NavLink class="nav-link disabled flex text-6xl text-60 uppercase font-normal leading-[1.05]" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                            <span class="text-slideup animation-delay-2 line-through">Services</span>
                        </NavLink>
                        </li>
                        <li class="overflow-hidden">
                        <NavLink class="nav-link disabled flex text-6xl text-60 uppercase font-normal leading-[1.05]" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                            <span class="text-slideup animation-delay-3 line-through">About</span>
                        </NavLink>
                        </li>
                        <li class="overflow-hidden">
                        <NavLink class="nav-link disabled flex text-6xl text-60 uppercase font-normal leading-[1.05]" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px);">
                            <span class="text-slideup animation-delay-4 line-through">Contact</span>
                        </NavLink>
                        </li>
                    </ul>
                    <div class="mb-4 mx-4">
                        <BlazorPortfolio.Components.Links />
                    </div>
                </div>
            </nav>
        </aside>
        <div class="@(EyeSaver ? "contrast-50" : "")">
            @Body
        </div>

    </div>
</main>


@code {
   [Inject]
   private HttpClient HttpClient { get; set; }
    private bool ShowMenu { get; set; } = false;
    private bool EyeSaver { get; set; } = false;
    private int PostCount { get; set; } = 0;

    private ValueTask PreventScrolling(bool val) {
        return JS.InvokeVoidAsync("preventScrolling", val);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        await base.OnAfterRenderAsync(firstRender);
        await JS.InvokeVoidAsync("fadeIn");
    }

    private async Task OnMenuClick() {
        var val = !ShowMenu;
        ShowMenu = val;
        await PreventScrolling(val);
    }

    private async Task OnMenuClick(bool val) {
        ShowMenu = val;
        await PreventScrolling(val);
    }

    private async void NavigateToPage(string page) {
        var uri = Path.Combine(NavigationManager.BaseUri, page);

        if (!(uri == NavigationManager.Uri))
            NavigationManager.NavigateTo(uri);
            
        await OnMenuClick(false);
    }

   protected override async Task OnInitializedAsync()
   {
        var jsonContent = await HttpClient.GetStringAsync("posts/posts.json");
        var posts = JsonSerializer.Deserialize<List<Models.Post>>(jsonContent);
        if (posts != null)
                PostCount = posts.Count;
   }
}